/* Import Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1e88e5;
  --dark-primary: #1565C0;
  --secondary-color: #FFCA28;
  --grey-background: #E0E0E0;
  --foreground: #212121;
  --grey-foreground: #616161;
  --light: #fafafa;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--foreground);
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: 150px 1fr / 250px 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar content";
}

.container ul {
  list-style-type: none;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--primary-color, blue);
  color: var(--light, white);
  padding: 15px;
  font-weight: 700;
  font-size: 1.1rem;

  display: grid;
  align-content: start;
  gap: 50px;
}

.logo, .sidebar a {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 15px;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-size: 1.6rem;
}

.logo svg {
  width: 40px;
}

.icon-wrapper {
  width: 40px;
  display: inline-grid;
  place-content: center;
}

.icon-wrapper svg {
  width: 24px;
  margin: auto;
}

.sidebar-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  gap: 15px;
}

.header {
  display: grid;
  grid-area: header;
  background-color: var(--light, white);
  padding: 15px 40px;
  grid-template-areas: 
    "browse profile"
    "welcome header-buttons";
  place-content: space-between;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 4px 2px -2px grey;
}

.header-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  align-items: center;
  gap: 15px;
}

.header-right-section {
  justify-content: end;
}

.browse {
  grid-area: browse;
  grid-template-columns: max-content minmax(50px, 600px);
}

.browse input[type="search"] {
  appearance: none;
  height: 30px;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: var(--grey-background);
  padding: 10px;
}

.profile {
  grid-area: profile;
}

.profile-pic {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--secondary-color);
}

.welcome {
  grid-area: welcome;
}

.big-profile-pic {
  width: 54px;
  height: 54px;
}

.header-buttons {
  grid-area: header-buttons;
}

.header-buttons button {
  appearance: none;
  width: 75px;
  height: 36px;
  padding: 10px 15px;
  border: none;
  border-radius: 18px;
  background-color: var(--primary-color);
  color: var(--light);
  font-size: 0.85rem;
}

.header-buttons button:hover {
  background-color: var(--dark-primary, darkblue);
  cursor: pointer;
}

.content {
  grid-area: content;
  background-color: var(--grey-background, grey);
  display: grid;
  grid-template: max-content 1fr / 1fr 300px;
  padding: 15px;
}

.content-section {
  padding: 15px;
}

.content-section > div {
  margin-top: 10px;
}

.content-section .title {
  font-size: 1.2rem;
  font-weight: bold;
}

.projects {
  grid-row: 1 / 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.section-card {
  background-color: var(--light, white);
  border-radius: 7px;
  box-shadow: 2px 2px 5px rgb(0,0,0,0.25);
  padding: 20px;
  display: grid;
}

.projects .card {
  padding: 25px 20px;
  height: 200px;
  grid-template: max-content 1fr max-content / 1fr;
  background: linear-gradient(to right, var(--secondary-color) 7px, #f2f2f2 0);
}

.projects .card h1 {
  font-size: 1.1rem;
  font-weight: bold;
}

.projects .card p {
  color: var(--grey-foreground, grey);
}

.projects .card-buttons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 20px;
}

.projects .card-buttons button {
  appearance: none;
  width: max-content;
  background: none;
  border: none;
  color: #424242;
  cursor: pointer;
}

.announcements {
  font-size: 0.75rem;
  grid-template-rows: repeat(3, 60px);
  gap: 24px;
}

.announcements .announcement {
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcements h1 {
  font-size: 0.85rem;
}

.announcements p {
  color: var(--grey-foreground);
}

.trending {
  font-size: 0.85rem;
  grid-template-columns: max-content 1fr;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  column-gap: 20px;
  row-gap: 15px;
}
